* {
    box-sizing: border-box;
}
body {
    background-color: #ccc7c7;
}
body,
html {
    border: 0;
    margin: 0;
}
.contact-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contact-list-item {
    width: 100%;
    display: flex;
    margin: 0 5px 10px 0;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
}
.contact-avatar {
    border: 1px solid #eee;
    border-radius: 50%;
    width: 100%;
    max-width: 100px;
    height: 100px;
    margin-left: 5px;
    background-color: #eee;
    background-display: cover;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.contact-details {
    align-items: center;
    margin-left: 1rem;
    border-left: 1px solid #eee;
    padding: 10px;
    font-size: 15px;
    width: 100%;
}

.contact-remove {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 100%;
    background-color: #757575;
    color: #fff;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    align-self: center;
    cursor: pointer;
    font-size: 0.6rem;
}
.search-contacts {
    width: 100%;
    margin: 0 0 0 5px;
    height: 1.5rem;
    padding: 10px;
    border: none;
    outline: none;
}

.search-icon {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-left: 5px;
}
.add-user-icon {
    width: 20px;
    height: 20px;
    align-self: center;
    cursor: pointer;
}
.list-contacts-top {
    display: flex;
    background-color: #fff;
    height: 40px;
    align-items: center;
}
.show-user-button {
    display: flex;
    justify-content: center;
}
.show-user-button button {
    margin-left: 5px;
    border: none;
    background-color: transparent;
    color: red;
}
.close-create-contact img {
    margin: 10px 0 0 10px;
}
.create-contact-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.create-contact-details input {
    width: 100%;
    margin: 10px 30px 3px 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #b1b1b1ee;
}
.create-contact-details input:focus {
    outline: none;
}
.create-contact-details button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: #eeeeee;
    background-color: #606081;
    margin-top: 5px;
    justify-self: start;
    transition: 0.5s;
    position: relative;
}
.create-contact-details button:active {
    font-size: 12px;
}
.create-contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
